@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Start Header */

header {
    height: 100vh;
    background-image: url('../img/Header1.jpeg');
    background-position: center;
    background-size: cover;
}

.hd-title {
    color: white;
    position: absolute;
    right: 41.8%;
    bottom: 42.75%;
    padding: 0 15px;
}

.hd-title h1 {
    font-size: 7rem;
    font-weight: 700;
}

.hd-title p {
    font-size: 3rem;
    font-weight: 400;
}

.hd-title a {
    text-decoration: none;
    color: #151515;
}

.hd-title a:hover {
    color: #f12020;
}

@media (max-width: 1020px) {
    .hd-title {
        color: white;
        right: 30.8%;
        bottom: 30.75%;
        padding: 0 15px;
    }
    .hd-title h1 {
        font-size: 4rem;
        font-weight: 700;
    }
    .hd-title p {
        font-size: 2rem;
        font-weight: 400;
    }
    .hd-title a {
        text-decoration: none;
        color: #151515;
    }
    .hd-title a:hover {
        color: #f12020;
    }
}

/* Start NavBar */

.nav-content {
    max-width: 1170px;
    margin: auto;
    padding: 0px 30px;
}

.navbar {
    position: fixed;
    z-index: 5;
    width: 100%;
    padding: 25px 0;
    transition: all 0.3s ease;
}

.navbar.sticky {
    padding: 10px 0;
    background: #111;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.1);
}

.navbar .nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.navbar .menu-list {
    display: inline-flex;
}

.menu-list li {
    list-style: none;
}

.menu-list li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.menu-list li a:hover {
    color: #f12020;
}

.icon {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.icon.cancel-btn {
    position: absolute;
    right: 30px;
    top: 20px;
}

.navbar.sticky .icon.cancel-btn {
    top: 10px;
}

@media (max-width: 868px) {
    body.disabledScroll {
        overflow: hidden;
    }
    .icon {
        display: block;
        height: 50px;
        width: 50px;
        text-align: center;
        line-height: 50px;
        border-radius: 50%;
        z-index: 9;
    }
    .icon.cancel-btn {
        display: none;
    }
    .icon.cancel-btn.show {
        display: block;
    }
    .icon.hide {
        display: none;
    }
    .navbar .menu-list {
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: #222;
        display: block;
        padding: 40px 0;
        text-align: center;
        clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
        transition: all 0.3s ease;
    }
    .navbar.sticky .menu-list {
        clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
    }
    .navbar .menu-list.active {
        clip-path: circle(75%);
    }
    .navbar .menu-list li {
        margin-top: 45px;
    }
    .navbar .menu-list li a {
        font-size: 23px;
    }
}

/* End NavBar */

/* End Header */

/* Start Aswan Info Section */

.aswan-info {
    display: flex;
    flex-wrap: wrap;
    height: 80vh;
}

.left-info {
    background-image: url("../img/Beautiful\ Aswan.jpeg");
    background-size: cover;
    width: 50%;
    position: relative;
    border-top: 20px solid white;
    border-left: 20px solid white;
    border-bottom: 20px solid white;
}

.right-info {
    display: flex;
    align-items: center;
    width: 50%;
}

.right-info div {
    width: 60%;
    margin: 0 auto;
}

.left-info i {
    color: white;
    font-size: 25px;
    padding: 40px;
    background-color: #f12020;
    border-radius: 50%;
    position: absolute;
    right: -6.5%;
    bottom: 40.5%;
}

@media screen and (max-width:1325px) {
    .left-info i {
        right: -9%;
        bottom: 40.5%;
    }
}

@media screen and (max-width:1080px) {
    .right-info {
        margin: 150px 0;
        width: 100%;
    }
    .left-info {
        width: 100%;
        height: 50%;
        border-top: 20px solid white;
        border-left: 20px solid white;
        border-bottom: none;
        border-right: 20px solid white;
    }
    .left-info i {
        right: 45%;
        bottom: -10%;
    }
}

@media screen and (max-width:700px) {
    .aswan-info {
        height: 100vh;
    }
    .left-info i {
        right: 40%;
        bottom: -10%;
    }
}

@media screen and (max-width:500px) {
    .aswan-info {
        height: 100vh;
    }
    .left-info i {
        right: 35%;
        bottom: -10%;
    }
}

@media screen and (max-width:380px) {
    .aswan-info {
        height: 130vh;
    }
    .left-info i {
        right: 25%;
        bottom: -10%;
    }
}

/* ENd Aswan Info Section */

/* Start Booking */

.section {
    position: relative;
    height: 100vh;
}

.section .section-center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

#booking {
    background-image: url('../img/Header2.jpg');
    background-size: cover;
    background-position: center;
}

#booking::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(177, 47, 47, 0.74);
}

.booking-form {
    background-color: #fff;
    padding: 50px 20px;
    -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

.booking-form .form-group {
    position: relative;
    margin-bottom: 30px;
}

.booking-form .form-control {
    background-color: #ebecee;
    border-radius: 4px;
    border: none;
    height: 40px;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #3e485c;
    font-size: 14px;
}

.booking-form .form-control::-webkit-input-placeholder {
    color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control:-ms-input-placeholder {
    color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control::placeholder {
    color: rgba(62, 72, 92, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
    color: rgba(62, 72, 92, 0.3);
}

.booking-form select.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.booking-form select.form-control+.select-arrow {
    position: absolute;
    right: 0px;
    bottom: 4px;
    width: 32px;
    line-height: 32px;
    height: 32px;
    text-align: center;
    pointer-events: none;
    color: rgba(62, 72, 92, 0.3);
    font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
    content: '\279C';
    display: block;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.booking-form .form-label {
    display: inline-block;
    color: #3e485c;
    font-weight: 700;
    margin-bottom: 6px;
    margin-left: 7px;
}

.booking-form .submit-btn {
    display: inline-block;
    color: #fff;
    background-color: #f12020;
    font-weight: 700;
    padding: 14px 30px;
    border-radius: 4px;
    border: none;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.booking-form .submit-btn:hover, .booking-form .submit-btn:focus {
    opacity: 0.9;
}

.booking-cta {
    margin-top: 80px;
    margin-bottom: 30px;
}

.booking-cta h1 {
    font-size: 52px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
}

.booking-cta p {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
}

@media (max-width: 1020px) {
    #booking {
        height: 120vh;
    }
}
/* End Booking */

/* Start Paid Tour Section */

.paid-tour {
    padding: 100px 0;
}

.up-tour {
    text-align: center;
    color: black;
    font-size: 1rem;
}

.down-tour {
    width: 80%;
    margin: 100px auto;
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    transition-duration: 1.5s;
    transition-delay: .5s;
}

.tour {
    margin: 30px 0;
}

.tour img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 20px;
    transition-duration: .5s;
}

.tour img:hover {
    width: 250px;
    height: 250px;
}

.tour span {
    font-weight: 10;
    font-size: 1.6578rem;
}

.tour div {
    text-align: center;
}

.tour div a {
    text-decoration: none;
    color: orangered;
}

.tour div a:hover {
    color: #3498db;
}

/* End Paid Tour Section */

/* Start Services Section */

.services {
    background-color: #e8e8e85c;
    padding: 50px 0;
}

.ser-up {
    text-align: center;
    padding: 100px;
}

.ser-down {
    width: 80%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    transition-duration: 2s;
    transition-delay: .5s;
}

.ser div {
    width: 50%;
    margin: 50px auto;
    text-align: center;
    line-height: 25px;
}

.ser {
    width: 25%;
    min-width: 260px;
    text-align: center;
}

.ser i {
    color: #f12020;
    font-size: 100px;
}

/* End Services Section */

/* Start Footer */

footer {
    width: 100%;
    background: #111;
    color: white;
}

footer a, footer button {
    color: white;
}

.main-content {
    display: flex;
}

.main-content .box {
    flex-basis: 50%;
    padding: 10px 20px;
}

.box h2 {
    font-size: 2.525rem;
    font-weight: 600;
    text-transform: uppercase;
}

.box .content {
    margin: 20px 0 0 0;
    position: relative;
}

.box .content:before {
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
}

.box .content:after {
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #f12020;
    top: -10px;
}

.left .content p {
    text-align: justify;
}

.left .content .social {
    margin: 20px 0 0 0;
}

.left .content .social a {
    padding: 0 2px;
}

.left .content .social a span {
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
}

.left .content .social a span:hover {
    background: #f12020;
}

.center .content .fas {
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.center .content .fas:hover {
    background: #f12020;
}

.center .content .text {
    font-size: 1.4357rem;
    font-weight: 500;
    padding-left: 10px;
}

.center .content .phone {
    margin: 15px 0;
}

.right form .text {
    font-size: 1.5625rem;
    margin-bottom: 2px;
    color: #656565;
}

.right form .msg {
    margin-top: 10px;
}

.right form input, .right form textarea {
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
}

.right form input:focus, .right form textarea:focus {
    outline-color: #3498db;
}

.right form input {
    height: 35px;
}

.right form .btn {
    margin-top: 10px;
    padding: 0%;
    display: inherit;
    border: 0px;
}

.right form .btn button {
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #f12020;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
}

.right form .btn button:hover {
    background: #000;
}

.bottom {
    background: #151515;
    ;
}

.bottom .center {
    padding: 5px;
    font-size: 0.9375rem;
    margin: 0 auto;
    width: 25%;
    text-align: center;
}

.bottom .center span {
    color: #656565;
}

.bottom .center a {
    color: #f12020;
    text-decoration: none;
}

.bottom .center a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    footer {
        position: relative;
        bottom: 0px;
    }
    .main-content {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .main-content .box {
        margin: 5px 0;
    }
}

/* End Footer */